* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d7cf;
  font-family: "Roboto", sans-serif;
}

/*Typography*/

h1 {
  font-family: "Oleo Script", sans-serif;
  font-size: 42px;
  color: #3d5956;
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
}

h4,
p {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

/*Styling of the elements*/

.container {
  position: relative;
  display: block;
}

.mainTitle {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.searchBarContainer {
  width: 100%;
  margin-top: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
}

.searchBar {
  width: 100%;
  padding: 6px 10px;
  line-height: 20px;
  height: 30px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #f7f7f5;
  border: 1px solid #b4b0a0;
  border-right: none;
  font-size: 12px;
}

.searchButton {
  height: 30px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #b4b0a0;
  border-left: none;
  background-color: #e5c1bd;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 12px;
}

.searchBar:focus {
  outline: 1px solid #e5c1bd;
}

.searchButton:hover {
  cursor: pointer;
  color: #d9d9d9;
  background-color: #3d5956;
  font-weight: 700;
}

.searchButton:active {
  background-color: rgba(61, 89, 86, 0.8);
  transition: all 0.1s ease-out;
}

#suggestions {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 200px;
  z-index: 1;
  padding: 0 25px;
  box-sizing: border-box;
}

.showSuggestionStyle {
  width: 100%;
  padding: 0.5rem 0.65rem;
  font-size: 12px;
  background-color: #f7f7f5;
  text-align: left;
  cursor: pointer;
}

#searchBar:focus + #suggestions {
  display: block;
}

.resultsContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.bookCard {
  height: 100%;
  width: 200px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #62929e;
  margin: 0.5rem;
}

/*BreakPoints*/

@media only screen and (min-width: 768px) {
  /*Typography*/
  h1 {
    font-size: 50px;
    text-align: left;
  }
  h2 {
    font-size: 20px;
    text-align: left;
    padding-left: 0.8rem;
  }
  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  /*Styling of the elements*/
  .mainTitle {
    margin-top: 2.5rem;
    margin-left: 3rem;
  }
  .searchBar {
    height: 40px;
    font-size: 14px;
    padding: 12px 20px;
  }

  .searchButton {
    height: 40px;
    font-size: 14px;
  }

  .searchBarContainer {
    padding: 12px 60px;
  }

  #suggestions,
  .resultsContainer{
    padding: 0 65px;
  }

  .showSuggestionStyle {
    font-size: 14px;
  }
  .bookCard{
    min-height: 200px;
  }
}

@media only screen and (min-width: 992px) {
  /*Typography*/
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  /*Styling of the elements*/
  .searchBar,
  .searchButton {
    height: 50px;
    font-size: 16px;
  }

  .searchBarContainer {
    padding: 12px 120px;
  }

  #suggestions,
  .resultsContainer {
    padding: 0 125px;
  }

  .showSuggestionStyle {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  /*Typography*/
  h1 {
    font-size: 66px;
  }
  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  /*Styling of the elements*/
  .searchBar,
  .searchButton {
    height: 55px;
    font-size: 18px;
  }

  .searchBarContainer {
    padding: 24px 240px 12px 240px;
  }

  #suggestions,
  .resultsContainer {
    padding: 0 245px;
  }

  .showSuggestionStyle {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1400px) {
  /*Typography*/
  h1 {
    font-size: 74px;
  }
  h2 {
    font-size: 28px;
  }
  h4 {
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }
  /*Styling of the elements*/
  .searchBar,
  .searchButton {
    height: 60px;
    font-size: 18px;
  }
}
